/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
header {
  height: 70%;
  width: 100%;
  border: 1px solid red;
}
header nav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  border: 1px solid yellow;
}
header div {
  margin: 2% 5%;
  background: lightgray;
  height: 80%;
  padding: 2% 4%;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
}
header div img {
  width: 25%;
  border: 1px solid red;
}
header div .header-right {
  flex-direction: column;
}
header div .header-right h1 {
  font-size: 6rem;
  font-weight: bold;
  border: 1px solid red;
}
header div .header-right h3 {
  font-size: 2rem;
  border: 1px solid red;
}
header div .header-right p {
  font-size: 1.6rem;
  border: 1px solid red;
}
header div .header-right a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background: darkslategrey;
}
header div .header-right a:hover {
  color: black;
  background: ghostwhite;
}
.middle-content {
  display: flex;
  justify-content: space-around;
}
.middle-content .middle-left-content h2 {
  font-size: 2.5rem;
}
.middle-content .middle-left-content p {
  font-size: 1.6rem;
}
.middle-content .middle-right-content h3 {
  font-size: 2rem;
}
.middle-content .middle-right-content ul li {
  font-size: 1.6rem;
  border: 2px solid black;
}
